.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


body {
    box-sizing: border-box;
    padding: 0 6%;
}

.jumbotron {
    background: white;
    margin-bottom: -2%;
}

h1, .searchCount {
    text-align: center;
}

.form {
    text-align: center;
}

#injection_site {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

div.pix {
    position: relative;
    margin:2% 0% 5% 0%;
}
.card{
    position:relative;
}
.card-block{

    position:absolute;
    text-align:center;
    display:none;
    width:100%;
   


}

.card:hover .card-block{
    display:block;
    background:yellow;
    



}

.downloadButton{
    display:none;

}
span a {
  display:inline-block;
}


