body{
box-sizing:border-box;
}

header {
 text-align:center;
}
.how-to{
text-align:center;
}

#injection_site{
  display: flex;
width:100%;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content: center;
}



.pix{
	position:relative;
	border: 1px solid black;
}
button{
	position: absolute;
	margin-top:2%;

}
