.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


body {
    box-sizing: border-box;
    padding: 0% 6%;
  background:  #0c0c27;
}

.jumbotron {
    background:  #0c0c27;
    margin-bottom: -2%;
    color:white;
}

h1, .searchCount {
    text-align: center;
    color:white;
}



#injection_site {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

div.pix {
    
    margin:2%;
}
.card{
    position:relative;
}
.card-block{
  text-align:center;
  width:100%;
  display:none;
  background:yellow;
  padding-bottom:4.3333%;
  background:#300000;
   

}
.editButton, .tweetButton{
  display:none;

}
.fa-download{
  display:none;
}

.pull-left, .pull-right, .text-center{
 
  
  padding-right:3%;
  padding-left:3%;
  margin-bottom:5%;
}

span a {
 
  display:inline-block;
  color:white;

}


